init_config:

instances:
  - server: 192.0.2.10
    port: 50051
    service: helloworld.Greeter
    collect_grpc_health_probe_status: False
    tags:
      - key1:val1
      - key2:val2

  - server: 192.0.2.11
    port: 50051
    service: helloworld.Greeter
    collect_grpc_health_probe_status: False
    probe_extra_args:
    - "-tls"
    tags:
      - key3:val3
      - key4:val4
